node_modules/
chrome_data/
collections/
env/
__pycache__/
*.egg-info/

results*
*/downloads/
*.json
!measurements/**/*.json
!warctradeoff/config.json
*.png
*.jpg
*.html
*.warc
*.log
*.npy
*.csv
*.ipynb
!tests/testsets/**
tests/testsets/warcs/*.static.patched.warc
!package.json
tests/testsets/